.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }


h1 {
	text-align: center;
}

body {
}

.board {
	width: 606px;
	height: 606px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.02);	
	transition: 0.2s;
}

.board:hover {
	background-color: rgba(0,0,0,0.2);
}

.row {
	width: 610px;
	height: 200px;
}

.cell {
	width: 200px;
	height: 200px;
	background-color: rgba(255,255,255,1);
	background-size: 200px 200px;
	margin-bottom: 3px;
	margin-right: 3px;
	float: left;
}

.cell:hover {
	background-color: rgba(255,255,255,0.8);
	/*transition: 0.1s;*/
}

.startGame {
	width: 200px;
	height: 200px;
	margin-bottom: 3px;
	margin-right: 3px;
	float: left;
	color: rgba(0,0,150,0.5);
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 3em;
	padding-top: 65px;
}

.startGame:hover {
	color: white;
	background-color: rgba(0,0,150,0.3);
}

.selectGame {
	display: none;
	width: 200px;
	height: 200px;
	margin-bottom: 3px;
	margin-right: 3px;
	float: left;
	background-color: rgba(0,0,150,0.3);
	color: white;
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 3em;
	padding-top: 40px;
}

.p0 {
	background-image:url('img/mac0.png');
	background-size: 200px 200px;
}

.p1 {
	background-image:url('img/mac1.png');
	background-size: 200px 200px;
}

.p0_win {
	background-image:url('img/mac0_win.png');
	background-size: 200px 200px;
}

.p1_win {
	background-image:url('img/mac1_win.png');
	background-size: 200px 200px;
}

.spoon {
	position: fixed;
	background-image:url('img/spoon.png');
	background-size: 650px 414px;
	bottom: -50px;
	left: -150px;
	width: 650px;
	height: 414px;
	z-index: -1;
}

.choco{
	background-image:url('img/choco.png');
	background-size: 200px 200px;
	float: right;
	width: 200px;
	height: 200px;
	position: fixed;
	top: 50px;
	right: 80px;
	z-index: -1;
}

.coffee {

}

.almond {

}

.lav {

}

.overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	z-index: 20;
	top: 0;
	left: 0;
}
.closeSettings {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0);
	z-index: 21;
	top: 0;
	left: 0;
}
.settings {
	display: none;
	width: 650px;
    height: 500px;
    position: fixed;
    top: 30%; 
    left: 35%;
    margin-top: -150px;
    margin-left: -100px;
    background-color: rgba(50,50,50,0.9);
    border-radius: 5px;
    text-align: center;
    z-index: 22; /* 1px higher than the overlay layer */
}

form {
	float: left;
	margin: 0 auto;
}

button {
	float: right;
	margin: 0 auto;
}

