.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }


h1 {
	text-align: center;
}

body {
	/*background-color: #d0d2d2;*/
}

.row {
	width: 465px;
	height: 150px;
	margin: 0 auto;
}

.cell {
	width: 150px;
	height: 150px;
	background-color: rgba(220,220,220,0.2);
	/*background-color: white;*/
	/*background-image: url('img/coffee.jpg');*/
	background-size: 150px 150px;
	border-right: 5px solid white;
	border-bottom: 5px solid white;
	float: left;
}

.cell:hover {
	background-color: rgba(200,200,200,0.4);
}

.p0 {
	background-image:url('img/mac0.png');
	background-size: 150px 150px;
}

.p1 {
	background-image:url('img/mac1.png');
	background-size: 150px 150px;
}

.p0_win {
	background-image:url('img/mac0_win.png');
	background-size: 150px 150px;
}

.p1_win {
	background-image:url('img/mac1_win.png');
	background-size: 150px 150px;
}

.p0_bw {
	/*background-image:url('img/grumpy_bw.jpg');*/
	/*background-size: 150px 150px;*/
}

.p1_bw {
	/*background-image:url('img/bday_dog_bw.jpg');*/
	/*background-size: 150px 150px;*/
}

.spoon {
	background-image:url('img/spoon.png');
	background-size: 200px 200px;
	width: 200px;
	height: 200px;
	/*background-color: black;*/
}

.settings {
	z-index: -1;
	background-color: rgba(10,10,10,0.2);
	width: 300px;
	height: 300px;
	margin: 0 auto;
}
